h1 {
  color: brown;
}



.header{
    color:peachpuff;
    background-color: slategrey;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #99D32A
}